body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.theme {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
    margin: 5px 0;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

button:active, .btn:active {
    background-color: #0056b3;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

/* Estilo específico para botões de editar */
.btn-edit {
    background-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-edit:active {
    background-color: #d39e00;
}

/* Estilo específico para botões de excluir */
.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-delete:active {
    background-color: #bd2130;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"], form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-left: 50px; 
    margin-right: 50px;
}

.funeraria-title {
    text-align: center;
}

